flows/flow_chaetoceros.json
[
    {
        "id": "891731b9.d005c8",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "48a6a52f.3b7e6c",
        "type": "subflow",
        "name": "sample metadata",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "7199ca86.9351fc"
                    },
                    {
                        "id": "8fe98016.c1f898"
                    },
                    {
                        "id": "c1cd7d39.eb95f"
                    },
                    {
                        "id": "f21d874e.c0838"
                    },
                    {
                        "id": "358b5dce.dbf3d2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 840,
                "y": 40,
                "wires": [
                    {
                        "id": "24c6a4b6.0f6bf4",
                        "port": 0
                    },
                    {
                        "id": "9d4bd2d4.3aa7",
                        "port": 0
                    },
                    {
                        "id": "b37c4852.dc1348",
                        "port": 0
                    },
                    {
                        "id": "a957be02.475f48",
                        "port": 0
                    },
                    {
                        "id": "77b7ede1.e645ec",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "4e9c41dc.b3026",
        "type": "subflow",
        "name": "Focus actuation",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "e08dd786.4b0948"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 200,
                "wires": [
                    {
                        "id": "ff15955f.20cf08",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#A6BBCF",
        "icon": "node-red/sort.svg"
    },
    {
        "id": "ce01277e.81e1a8",
        "type": "subflow",
        "name": "Pump actuation",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "a022daf2.a17bc8"
                    },
                    {
                        "id": "239b205d.f8965"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 40,
                "wires": [
                    {
                        "id": "1314feb9.cb4851",
                        "port": 0
                    },
                    {
                        "id": "af39d4d6.791d28",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#A6BBCF",
        "icon": "font-awesome/fa-recycle"
    },
    {
        "id": "e72403f6.85dd1",
        "type": "subflow",
        "name": "acquisition metadata",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "fc00539b.d39f58"
                    },
                    {
                        "id": "aebdf931.ff23f"
                    },
                    {
                        "id": "c2dc380a.9deb38"
                    },
                    {
                        "id": "ae49075c.c74bc8"
                    },
                    {
                        "id": "e44b8b94.4b6fc"
                    },
                    {
                        "id": "c63dfdfb.46a838"
                    },
                    {
                        "id": "110d091c.025baf"
                    },
                    {
                        "id": "9ed76302.f47c18"
                    },
                    {
                        "id": "9cdfdad8.a9261"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 40,
                "wires": [
                    {
                        "id": "e1bc5680.93112",
                        "port": 0
                    },
                    {
                        "id": "a648946c.27bd2",
                        "port": 0
                    },
                    {
                        "id": "c4f41583.30d5c8",
                        "port": 0
                    },
                    {
                        "id": "e9b49086.19e98",
                        "port": 0
                    },
                    {
                        "id": "96348911.15a94",
                        "port": 0
                    },
                    {
                        "id": "2461d773.28b92",
                        "port": 0
                    },
                    {
                        "id": "bd9a3518.8d1e4",
                        "port": 0
                    },
                    {
                        "id": "4893afc9.aef5f8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 900,
                "y": 360,
                "wires": [
                    {
                        "id": "758c330b.fc1c04",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "33765afe.56048e",
        "type": "subflow",
        "name": "object metadata",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "989180d3.288858"
                    },
                    {
                        "id": "14e5d68c.974fd9"
                    },
                    {
                        "id": "c086a379.68a878"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 159,
                "wires": [
                    {
                        "id": "d70ce88a.7119e8",
                        "port": 0
                    },
                    {
                        "id": "af8a280b.0283b8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1060,
                "y": 59,
                "wires": [
                    {
                        "id": "3adc77e8.9461e",
                        "port": 0
                    },
                    {
                        "id": "9f21f5f9.5306b8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "d2125327.e99c58",
        "type": "subflow",
        "name": "Commands",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#FFCC66",
        "icon": "node-red-dashboard/ui_button.png"
    },
    {
        "id": "458632e1.0be8bc",
        "type": "subflow",
        "name": "Temperature regulation",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#FFCC66",
        "icon": "font-awesome/fa-bolt"
    },
    {
        "id": "cc486d7.3ab869",
        "type": "subflow",
        "name": "MQTT Receive & Plot",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#F3B567",
        "icon": "node-red/bridge.svg"
    },
    {
        "id": "38701a0a.bbe1d6",
        "type": "subflow",
        "name": "process metadata",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "9bc9ad07.231718"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 80,
                "wires": [
                    {
                        "id": "664e75ef.44ed14",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "d2db18da.86a25",
        "type": "subflow",
        "name": "Valves actuation",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "e6e89535.687518"
                    },
                    {
                        "id": "9ed5b08f.5eeea"
                    },
                    {
                        "id": "b7b4ded5.7fe5d8"
                    },
                    {
                        "id": "67fd3196.18ef3"
                    },
                    {
                        "id": "f7bb5119.7ef29"
                    },
                    {
                        "id": "53a83404.141834"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 40,
                "wires": [
                    {
                        "id": "7d18e7ad.32ab18",
                        "port": 0
                    },
                    {
                        "id": "5ffd0ee.d30bf7",
                        "port": 0
                    },
                    {
                        "id": "de091c3.237ed6",
                        "port": 0
                    },
                    {
                        "id": "2578e6c8.f4df32",
                        "port": 0
                    },
                    {
                        "id": "1a4a1dab.b5584a",
                        "port": 0
                    },
                    {
                        "id": "fc80f829.575e6",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#A6BBCF",
        "icon": "node-red-contrib-camerapi/photo.png"
    },
    {
        "id": "d033c6ac.ef68a8",
        "type": "subflow",
        "name": "Datetime update",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 80,
                "wires": [
                    {
                        "id": "8bdd251c.f16d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99",
        "icon": "font-awesome/fa-clock-o"
    },
    {
        "id": "8653cbcd.379d48",
        "type": "subflow",
        "name": "MQQT Cmds",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 20,
                "wires": [
                    {
                        "id": "222e0e47.626732"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "942abae7.d48b98",
        "type": "subflow",
        "name": "Acquisition actuation",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "color": "#A6BBCF"
    },
    {
        "id": "6b7b74ff.e06ae4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#5900ce",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#059276",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#059276",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#059276",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#08dcb2",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#059276",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 56,
                "sy": 56,
                "gx": 5,
                "gy": 5,
                "cx": 5,
                "cy": 5,
                "px": 5,
                "py": 5
            }
        }
    },
    {
        "id": "51c23970.024198",
        "type": "ui_tab",
        "z": "",
        "name": "GUI",
        "icon": "fa-eyedropper",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66889e27.e01c88",
        "type": "ui_group",
        "z": "",
        "name": "Sample metadata",
        "tab": "51c23970.024198",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "501dcda0.e21cfc",
        "type": "ui_group",
        "z": "",
        "name": "Object metadata",
        "tab": "51c23970.024198",
        "order": 6,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "f5394744.2587d",
        "type": "ui_group",
        "z": "",
        "name": "Focus actuation",
        "tab": "51c23970.024198",
        "order": 4,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "b4bafde6.5837f8",
        "type": "ui_group",
        "z": "",
        "name": "Pump actuation",
        "tab": "51c23970.024198",
        "order": 5,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "a0fca7d6.ef10c",
        "type": "ui_group",
        "z": "",
        "name": "Acquisition metadata",
        "tab": "51c23970.024198",
        "order": 7,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "b71d9d5a.c32ef",
        "type": "ui_group",
        "z": "",
        "name": "MQTT Plots",
        "tab": "51c23970.024198",
        "order": 11,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "29c8b0f8.3c8de8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "test",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5e9d3b13.d1e4cc",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "0.0.0.0",
        "port": "1883",
        "clientid": "Client_node",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b77d8ebd.2f5408",
        "type": "ui_group",
        "z": "",
        "name": "Commands",
        "tab": "51c23970.024198",
        "order": 12,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "eb6ef19c.76fab8",
        "type": "ui_group",
        "z": "",
        "name": "Streaming camera",
        "tab": "51c23970.024198",
        "order": 3,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "953383cd.1d1bb",
        "type": "ui_group",
        "z": "",
        "name": "Process metadata",
        "tab": "51c23970.024198",
        "order": 8,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "fa194fbb.bfb4a8",
        "type": "ui_group",
        "z": "",
        "name": "Valve actuation",
        "tab": "51c23970.024198",
        "order": 9,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "8e0cce01.f923b8",
        "type": "ui_group",
        "z": "",
        "name": "Datetime",
        "tab": "51c23970.024198",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "a002b4bf.97a878",
        "type": "ui_group",
        "z": "",
        "name": "Acquisition actuation",
        "tab": "51c23970.024198",
        "order": 10,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "1365e276.c74ace",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b71d9d5a.c32ef",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "52f10b31.f97adc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b71d9d5a.c32ef",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "695cfe78.ff21a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b71d9d5a.c32ef",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "70ec9a93.23478c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "b71d9d5a.c32ef",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "b37c4852.dc1348",
        "type": "ui_text_input",
        "z": "48a6a52f.3b7e6c",
        "name": "sample_ship",
        "label": "Name of the ship",
        "tooltip": "",
        "group": "66889e27.e01c88",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "sample_ship",
        "x": 590,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "77b7ede1.e645ec",
        "type": "ui_dropdown",
        "z": "48a6a52f.3b7e6c",
        "name": "sample_sampling_gear",
        "label": "Sampling gear",
        "tooltip": "",
        "place": "Select",
        "group": "66889e27.e01c88",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Plankton net",
                "value": "net",
                "type": "str"
            },
            {
                "label": "Niskin bottle 12L",
                "value": "niskin_12L",
                "type": "str"
            },
            {
                "label": "Niskin bottle 24L",
                "value": "niskin_24L",
                "type": "str"
            },
            {
                "label": "Pass Hull",
                "value": "pass_hull",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "sample_sampling_gear",
        "x": 550,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a957be02.475f48",
        "type": "ui_text_input",
        "z": "48a6a52f.3b7e6c",
        "name": "sample_operator",
        "label": "Name of the operator",
        "tooltip": "",
        "group": "66889e27.e01c88",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "sample_operator",
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "24c6a4b6.0f6bf4",
        "type": "ui_text_input",
        "z": "48a6a52f.3b7e6c",
        "name": "sample_project",
        "label": "Name of the project*",
        "tooltip": "",
        "group": "66889e27.e01c88",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "sample_project",
        "x": 580,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "9d4bd2d4.3aa7",
        "type": "ui_text_input",
        "z": "48a6a52f.3b7e6c",
        "name": "sample_id",
        "label": "ID of the station*",
        "tooltip": "",
        "group": "66889e27.e01c88",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "sample_id",
        "x": 590,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "51ce952c.bd5a74",
        "type": "function",
        "z": "891731b9.d005c8",
        "name": "get global",
        "func": "msg.payload={\n    \n        \"duration_bef_cycle\":global.get(\"duration_bef_cycle\"),\n        \"duration_flush\":global.get(\"duration_flush\"),\n        \"nb_img\":global.get(\"nb_img\"),\n        \"duration_bef_seq\":global.get(\"duration_bef_seq\"),\n        \"duration_bef_img\":global.get(\"duration_bef_img\"),\n        \"duration_between\":global.get(\"duration_between\"),\n        \n        \"sample_project\":global.get(\"sample_project\"),\n        \"sample_id\":global.get(\"sample_id\"),\n        \"sample_ship\":global.get(\"sample_ship\"),\n        \"sample_operator\":global.get(\"sample_operator\"),\n        \"sample_sampling_gear\":global.get(\"sample_sampling_gear\"),\n        \n        \"acq_id\":global.get(\"acq_id\"),\n        \"acq_instrument\":global.get(\"acq_instrument\"),\n        //\"acq_instrument_id\":global.get(\"acq_instrument_id\"),\n        \"acq_celltype\":global.get(\"acq_celltype\"),\n        \"acq_minimum_mesh\":global.get(\"acq_minimum_mesh\"),\n        \"acq_maximum_mesh\":global.get(\"acq_maximum_mesh\"),\n        \"acq_min_esd\":global.get(\"acq_min_esd\"),\n        \"acq_max_esd\":global.get(\"acq_max_esd\"),\n        \"acq_volume\":global.get(\"acq_volume\"),\n        \"acq_magnification\":global.get(\"magnification\"),\n        \"acq_fnumber_objective\":global.get(\"acq_fnumber_objective\"),\n        \n        \"acq_camera_name\":\"Pi Camera V2.1 - 8MP\",\n        \n        \"object_date\":global.get(\"object_date\"),\n        \"object_time\":global.get(\"object_time\"),\n        \"object_lat\":global.get(\"object_lat\"),\n        \"object_lon\":global.get(\"object_lon\"),\n        \"object_depth_min\":global.get(\"object_depth_min\"),\n        \"object_depth_max\":global.get(\"object_depth_max\"),\n        \n        \"process_pixel\":global.get(\"process_pixel\"),\n        \"process_id\":global.get(\"process_id\")\n        \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1180,
        "y": 100,
        "wires": [
            [
                "be29a123.ae626"
            ]
        ]
    },
    {
        "id": "1cec911b.7f710f",
        "type": "file",
        "z": "891731b9.d005c8",
        "name": "",
        "filename": "/home/pi/PlanktonScope/config.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1520,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "758c330b.fc1c04",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "set optical config",
        "func": "global.set(msg.topic,msg.payload);\nvar acq_fnumber_objective = String(global.get(msg.topic));\n\nswitch(acq_fnumber_objective) {\n  case \"25\":\n    global.set(\"magnification\",0.6);\n    global.set(\"process_pixel\",1.86);\n    global.set(\"sug_min\",60);\n    global.set(\"sug_max\",670);\n    global.set(\"sug_flowrate\",3);\n    break;\n  case \"16\":\n    global.set(\"magnification\",0.94);\n    global.set(\"process_pixel\",1.19);\n    global.set(\"sug_min\",40);\n    global.set(\"sug_max\",430);\n    global.set(\"sug_flowrate\",2.4);\n    break;\n  case \"12\":\n    global.set(\"magnification\",1.20);\n    global.set(\"process_pixel\",0.94);\n    global.set(\"sug_min\",30);\n    global.set(\"sug_max\",340);\n    global.set(\"sug_flowrate\",1.25);\n    break;\n  case \"8\":\n    global.set(\"magnification\",1.78);\n    global.set(\"process_pixel\",0.63);\n    global.set(\"sug_min\",20);\n    global.set(\"sug_max\",230);\n    global.set(\"sug_flowrate\",0.42);\n    break;\n  case \"6\":\n    global.set(\"magnification\",2.36);\n    global.set(\"process_pixel\",0.48);\n    global.set(\"sug_min\",15);\n    global.set(\"sug_max\",170);\n    global.set(\"sug_flowrate\",0.32);\n    break;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "db2e5f11.bc22c8",
        "type": "ui_dropdown",
        "z": "e72403f6.85dd1",
        "name": "acq_fnumber_objective",
        "label": "M12 Lens*",
        "tooltip": "",
        "place": "Select option",
        "group": "a0fca7d6.ef10c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "f 25mm 1/2\" 5MP IR",
                "value": 25,
                "type": "num"
            },
            {
                "label": "f 16mm 1/2.5\" 5MP IR",
                "value": 16,
                "type": "num"
            },
            {
                "label": "f 12mm 1/2.5\" 5MP IR",
                "value": 12,
                "type": "num"
            },
            {
                "label": "f 8mm 1/2.5\" 5MP IR",
                "value": 8,
                "type": "num"
            },
            {
                "label": "f 6mm 1/2.5\" 5MP IR",
                "value": 6,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "acq_fnumber_objective",
        "x": 526,
        "y": 360,
        "wires": [
            [
                "758c330b.fc1c04"
            ]
        ]
    },
    {
        "id": "e9b49086.19e98",
        "type": "ui_numeric",
        "z": "e72403f6.85dd1",
        "name": "acq_minimum_mesh",
        "label": "Min fraction size (μm)",
        "tooltip": "",
        "group": "a0fca7d6.ef10c",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "acq_minimum_mesh",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "step": "10",
        "x": 536,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "96348911.15a94",
        "type": "ui_numeric",
        "z": "e72403f6.85dd1",
        "name": "acq_maximum_mesh",
        "label": "Max fraction size (μm)",
        "tooltip": "",
        "group": "a0fca7d6.ef10c",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "acq_maximum_mesh",
        "format": "{{value}}",
        "min": "200",
        "max": "2000",
        "step": "100",
        "x": 536,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e1bc5680.93112",
        "type": "ui_text_input",
        "z": "e72403f6.85dd1",
        "name": "acq_id",
        "label": "Acquisition unique ID*",
        "tooltip": "",
        "group": "a0fca7d6.ef10c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "acq_id",
        "x": 586,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c4f41583.30d5c8",
        "type": "ui_dropdown",
        "z": "e72403f6.85dd1",
        "name": "acq_celltype",
        "label": "Thickness flowcell*",
        "tooltip": "",
        "place": "Select option",
        "group": "a0fca7d6.ef10c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "200 μm µ-Slide I Luer",
                "value": 200,
                "type": "num"
            },
            {
                "label": "400 μm µ-Slide I Luer",
                "value": 400,
                "type": "num"
            },
            {
                "label": "600 μm µ-Slide I Luer",
                "value": 600,
                "type": "num"
            },
            {
                "label": "800 μm µ-Slide I Luer",
                "value": 800,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "acq_celltype",
        "x": 566,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2461d773.28b92",
        "type": "ui_text_input",
        "z": "e72403f6.85dd1",
        "name": "acq_volume",
        "label": "Volume to pass (ml)",
        "tooltip": "",
        "group": "a0fca7d6.ef10c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "acq_volume",
        "x": 566,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a648946c.27bd2",
        "type": "ui_text_input",
        "z": "e72403f6.85dd1",
        "name": "acq_instrument",
        "label": "Acquisition instrument",
        "tooltip": "PlanktonScope V2.1",
        "group": "a0fca7d6.ef10c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "acq_instrument",
        "x": 556,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "be29a123.ae626",
        "type": "json",
        "z": "891731b9.d005c8",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1310,
        "y": 100,
        "wires": [
            [
                "1cec911b.7f710f"
            ]
        ]
    },
    {
        "id": "60c928bd.0bf02",
        "type": "file in",
        "z": "891731b9.d005c8",
        "name": "",
        "filename": "/home/pi/PlanktonScope/config.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "d0255c4.f83532"
            ]
        ]
    },
    {
        "id": "4f6a10d8.89d7c",
        "type": "inject",
        "z": "891731b9.d005c8",
        "name": "on_load",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "60c928bd.0bf02",
                "14ae2cfa.e158cb",
                "ca7c1f22.3bd458",
                "68b9cd32.85f7c4"
            ]
        ]
    },
    {
        "id": "d0255c4.f83532",
        "type": "json",
        "z": "891731b9.d005c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "94488126.7da6d8",
                "d8bb8a53.5bc08",
                "5672f155.9caa18",
                "2e076425.9abbf4",
                "a157c80b.3f9bd8",
                "cdbda884.3f2638",
                "ee70fae2.f6da28"
            ]
        ]
    },
    {
        "id": "7199ca86.9351fc",
        "type": "function",
        "z": "48a6a52f.3b7e6c",
        "name": "get sample_projet",
        "func": "msg.payload = msg.payload.sample_project;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "24c6a4b6.0f6bf4"
            ]
        ]
    },
    {
        "id": "c1cd7d39.eb95f",
        "type": "function",
        "z": "48a6a52f.3b7e6c",
        "name": "get sample_ship",
        "func": "msg.payload = msg.payload.sample_ship;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "b37c4852.dc1348"
            ]
        ]
    },
    {
        "id": "8fe98016.c1f898",
        "type": "function",
        "z": "48a6a52f.3b7e6c",
        "name": "get sample_id",
        "func": "msg.payload = msg.payload.sample_id+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 80,
        "wires": [
            [
                "9d4bd2d4.3aa7"
            ]
        ]
    },
    {
        "id": "f21d874e.c0838",
        "type": "function",
        "z": "48a6a52f.3b7e6c",
        "name": "get sample_operator",
        "func": "msg.payload = msg.payload.sample_operator;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "a957be02.475f48"
            ]
        ]
    },
    {
        "id": "358b5dce.dbf3d2",
        "type": "function",
        "z": "48a6a52f.3b7e6c",
        "name": "get sample_sampling_gear",
        "func": "msg.payload = msg.payload.sample_sampling_gear;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "77b7ede1.e645ec"
            ]
        ]
    },
    {
        "id": "fc00539b.d39f58",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_id",
        "func": "msg.payload = msg.payload.acq_id+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 40,
        "wires": [
            [
                "e1bc5680.93112"
            ]
        ]
    },
    {
        "id": "aebdf931.ff23f",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_instrument",
        "func": "msg.payload = msg.payload.acq_instrument;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 80,
        "wires": [
            [
                "a648946c.27bd2"
            ]
        ]
    },
    {
        "id": "c2dc380a.9deb38",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_celltype",
        "func": "msg.payload = msg.payload.acq_celltype;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "c4f41583.30d5c8"
            ]
        ]
    },
    {
        "id": "ae49075c.c74bc8",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_minimum_mesh",
        "func": "msg.payload = msg.payload.acq_minimum_mesh;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "e9b49086.19e98"
            ]
        ]
    },
    {
        "id": "e44b8b94.4b6fc",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_maximum_mesh",
        "func": "msg.payload = msg.payload.acq_maximum_mesh;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "96348911.15a94"
            ]
        ]
    },
    {
        "id": "c63dfdfb.46a838",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_volume",
        "func": "msg.payload = msg.payload.acq_volume;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "2461d773.28b92"
            ]
        ]
    },
    {
        "id": "9cdfdad8.a9261",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_fnumber_objective",
        "func": "msg.payload = msg.payload.acq_fnumber_objective;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "db2e5f11.bc22c8"
            ]
        ]
    },
    {
        "id": "d70ce88a.7119e8",
        "type": "ui_numeric",
        "z": "33765afe.56048e",
        "name": "object_depth_min",
        "label": "Minimum depth (m)",
        "tooltip": "",
        "group": "501dcda0.e21cfc",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "object_depth_min",
        "format": "{{value}}",
        "min": "0",
        "max": "2000",
        "step": "1",
        "x": 610,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "af8a280b.0283b8",
        "type": "ui_numeric",
        "z": "33765afe.56048e",
        "name": "object_depth_max",
        "label": "Maximum depth (m)",
        "tooltip": "",
        "group": "501dcda0.e21cfc",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "object_depth_max",
        "format": "{{value}}",
        "min": "0",
        "max": "2000",
        "step": "1",
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "730d19e1.29521",
        "type": "function",
        "z": "891731b9.d005c8",
        "name": "set global",
        "func": "var value = msg.payload;\nvar key = msg.topic;\n\nglobal.set(key,value);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 60,
        "wires": [
            [
                "51ce952c.bd5a74"
            ]
        ]
    },
    {
        "id": "989180d3.288858",
        "type": "function",
        "z": "33765afe.56048e",
        "name": "get object_depth_min",
        "func": "msg.payload = msg.payload.object_depth_min;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 304,
        "y": 120,
        "wires": [
            [
                "d70ce88a.7119e8"
            ]
        ]
    },
    {
        "id": "14e5d68c.974fd9",
        "type": "function",
        "z": "33765afe.56048e",
        "name": "get object_depth_max",
        "func": "msg.payload = msg.payload.object_depth_max;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 304,
        "y": 160,
        "wires": [
            [
                "af8a280b.0283b8"
            ]
        ]
    },
    {
        "id": "664e75ef.44ed14",
        "type": "ui_text_input",
        "z": "38701a0a.bbe1d6",
        "name": "process_id",
        "label": "Id of the process",
        "tooltip": "",
        "group": "953383cd.1d1bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "process_id",
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9bc9ad07.231718",
        "type": "function",
        "z": "38701a0a.bbe1d6",
        "name": "get process_id",
        "func": "msg.payload = msg.payload.process_id+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "664e75ef.44ed14"
            ]
        ]
    },
    {
        "id": "2bab498f.58882e",
        "type": "gpsd",
        "z": "33765afe.56048e",
        "name": "",
        "hostname": "localhost",
        "port": "2947",
        "tpv": true,
        "sky": false,
        "info": false,
        "device": false,
        "gst": false,
        "att": false,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "c086a379.68a878",
                "e76e6661.0cb738"
            ]
        ]
    },
    {
        "id": "11e26cde.aed42b",
        "type": "ui_worldmap",
        "z": "33765afe.56048e",
        "d": true,
        "group": "501dcda0.e21cfc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "1.5",
        "lon": "1.5",
        "zoom": "4",
        "layer": "OSM grey",
        "cluster": "1",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "false",
        "path": "/worldmap",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "c086a379.68a878",
        "type": "function",
        "z": "33765afe.56048e",
        "name": "get object_lat & object_lon",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "11e26cde.aed42b"
            ]
        ]
    },
    {
        "id": "bd9a3518.8d1e4",
        "type": "ui_numeric",
        "z": "e72403f6.85dd1",
        "name": "acq_min_esd",
        "label": "Minimum size to segment (μm)",
        "tooltip": "",
        "group": "a0fca7d6.ef10c",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "acq_min_esd",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "step": "5",
        "x": 566,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4893afc9.aef5f8",
        "type": "ui_numeric",
        "z": "e72403f6.85dd1",
        "name": "acq_max_esd",
        "label": "Maximum size to segment (μm)",
        "tooltip": "",
        "group": "a0fca7d6.ef10c",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "acq_max_esd",
        "format": "{{value}}",
        "min": "100",
        "max": "2000",
        "step": "5",
        "x": 556,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "110d091c.025baf",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_min_esd",
        "func": "msg.payload = msg.payload.acq_min_esd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 280,
        "wires": [
            [
                "bd9a3518.8d1e4"
            ]
        ]
    },
    {
        "id": "9ed76302.f47c18",
        "type": "function",
        "z": "e72403f6.85dd1",
        "name": "get acq_max_esd",
        "func": "msg.payload = msg.payload.acq_max_esd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "4893afc9.aef5f8"
            ]
        ]
    },
    {
        "id": "ff15955f.20cf08",
        "type": "ui_text_input",
        "z": "4e9c41dc.b3026",
        "name": "nb_step",
        "label": "Number of step(s)",
        "tooltip": "",
        "group": "f5394744.2587d",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "nb_step",
        "x": 520,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e08dd786.4b0948",
        "type": "function",
        "z": "4e9c41dc.b3026",
        "name": "get generic_nb_step",
        "func": "msg.payload = msg.payload.generic_nb_step;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 40,
        "wires": [
            [
                "ff15955f.20cf08"
            ]
        ]
    },
    {
        "id": "b2aae40c.d8fd58",
        "type": "ui_button",
        "z": "4e9c41dc.b3026",
        "name": "DOWN",
        "group": "f5394744.2587d",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_downward",
        "payload": "DOWN",
        "payloadType": "str",
        "topic": "actuator/focus",
        "x": 520,
        "y": 120,
        "wires": [
            [
                "42d37dd2.84d92c"
            ]
        ]
    },
    {
        "id": "12a7889e.2f07b7",
        "type": "ui_button",
        "z": "4e9c41dc.b3026",
        "name": "UP",
        "group": "f5394744.2587d",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_upwards",
        "payload": "UP",
        "payloadType": "str",
        "topic": "actuator/focus",
        "x": 530,
        "y": 81,
        "wires": [
            [
                "42d37dd2.84d92c"
            ]
        ]
    },
    {
        "id": "642a2b64.64674c",
        "type": "function",
        "z": "ce01277e.81e1a8",
        "name": "pump.js",
        "func": "state = global.get(\"state\");\n\nif (state == null){state=\"free\"}\n\nvar manual_volume= global.get(\"manual_volume\");\nvar flowrate= global.get(\"flowrate\");\n\nif (manual_volume === undefined || manual_volume === \"\" || manual_volume === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Volume to pass\";\n    \n}else if (flowrate === undefined || flowrate === \"\" || flowrate === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Flowrate\";\n    \n}else {\n    volume = global.get(\"manual_volume\");\n    nb_step=volume*507\n    msg.volume = volume;\n    flowrate = global.get(\"flowrate\");\n    duration=(volume*60)/flowrate\n    delay=(duration/nb_step)-0.005\n    msg.topic = \"actuator/pump\";\n    \n    if(msg.payload === \"FORWARD\" & state===\"free\"){\n        msg.payload='FORWARD '+delay+' '+nb_step;\n    }\n    if(msg.payload === \"BACKWARD\" & state===\"free\"){\n        msg.payload='BACKWARD '+delay+' '+nb_step;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "3d4ef0d1.5269e8"
            ]
        ],
        "info": "### Focusing\n##### focus.py `nb_step` `orientation`\n\n- `nb_step` : **integer** (from 1 to 100000) - number of step to perform by the stage (about 31um/step)\n- `orientation` : **string** - orientation of the focus either `up` or `down`\n\nExample:\n\n    python3.7 $HOME/PlanktonScope/scripts/focus.py 650 up\n"
    },
    {
        "id": "4d6fe1bc.7faa6",
        "type": "ui_button",
        "z": "ce01277e.81e1a8",
        "name": "BACKWARD",
        "group": "b4bafde6.5837f8",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_back",
        "payload": "BACKWARD",
        "payloadType": "str",
        "topic": "actuator/pump",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "642a2b64.64674c"
            ]
        ]
    },
    {
        "id": "b8bf5e65.ee956",
        "type": "ui_button",
        "z": "ce01277e.81e1a8",
        "name": "FORWARD",
        "group": "b4bafde6.5837f8",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "arrow_forward",
        "payload": "FORWARD",
        "payloadType": "str",
        "topic": "actuator/pump",
        "x": 470,
        "y": 160,
        "wires": [
            [
                "642a2b64.64674c"
            ]
        ]
    },
    {
        "id": "50c473b7.98c75c",
        "type": "rpi-gpio out",
        "z": "891731b9.d005c8",
        "name": "",
        "pin": "40",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "a6b49fe.ec2b3e",
        "type": "ui_template",
        "z": "891731b9.d005c8",
        "group": "eb6ef19c.76fab8",
        "name": "Stream Pi Camera",
        "order": 1,
        "width": 24,
        "height": 11,
        "format": "<center><iframe id=\"inlineFrameExample\"\n    title=\"Inline Frame Example\"\n    height=\"600\"\n    width=\"800\"\n    frameborder=\"0\"\n    src=\"http://192.168.4.1:8000/index.html\">\n</iframe></center>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 750,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b7145b9.fbcb228",
        "type": "switch",
        "z": "4e9c41dc.b3026",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "actuator/focus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Missing entry :",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 100,
        "wires": [
            [
                "53c45714.2d7ae"
            ],
            [
                "1b4b558.334472b"
            ]
        ]
    },
    {
        "id": "1b4b558.334472b",
        "type": "ui_toast",
        "z": "4e9c41dc.b3026",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "14ae2cfa.e158cb",
        "type": "function",
        "z": "891731b9.d005c8",
        "name": "init LED",
        "func": "msg.payload=1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "50c473b7.98c75c"
            ]
        ]
    },
    {
        "id": "3d4ef0d1.5269e8",
        "type": "switch",
        "z": "ce01277e.81e1a8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "actuator/pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Missing entry :",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 140,
        "wires": [
            [
                "7be8cc3a.9b051c"
            ],
            [
                "a5bef8d9.a2f2a"
            ]
        ]
    },
    {
        "id": "a5bef8d9.a2f2a",
        "type": "ui_toast",
        "z": "ce01277e.81e1a8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 930,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d381bf9d.eb28c8",
        "type": "ui_button",
        "z": "ce01277e.81e1a8",
        "name": "stop pump",
        "group": "b4bafde6.5837f8",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "STOP PUMP",
        "tooltip": "",
        "color": "",
        "bgcolor": "#AD1625",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "actuator/wait",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "2cdba528.81e42a"
            ]
        ]
    },
    {
        "id": "42d37dd2.84d92c",
        "type": "function",
        "z": "4e9c41dc.b3026",
        "name": "focus.js",
        "func": "state = global.get(\"state\");\n\nif (state == null){state=\"free\"}\n\nvar nb_step= global.get(\"nb_step\");\n\nif (nb_step === undefined || nb_step === \"\" || nb_step === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Number of steps\";\n    \n}else {\n    nb_step= global.get(\"nb_step\");\n    if(msg.payload === \"UP\" & state===\"free\"){\n        msg.payload=\"FORWARD \"+nb_step;\n    }\n    if(msg.payload === \"DOWN\" & state===\"free\"){\n        msg.payload=\"BACKWARD \"+nb_step;\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 100,
        "wires": [
            [
                "b7145b9.fbcb228"
            ]
        ],
        "info": "### Focusing\n##### focus.py `nb_step` `orientation`\n\n- `nb_step` : **integer** (from 1 to 100000) - number of step to perform by the stage (about 31um/step)\n- `orientation` : **string** - orientation of the focus either `up` or `down`\n\nExample:\n\n    python3.7 $HOME/PlanktonScope/scripts/focus.py 650 up\n"
    },
    {
        "id": "23291b37.a896f4",
        "type": "ui_button",
        "z": "4e9c41dc.b3026",
        "name": "stop focus",
        "group": "f5394744.2587d",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "STOP FOCUS",
        "tooltip": "",
        "color": "",
        "bgcolor": "#AD1625",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "actuator/wait",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "42926e0b.55728"
            ]
        ]
    },
    {
        "id": "8969cf3.8bdf6b",
        "type": "ui_button",
        "z": "d2125327.e99c58",
        "name": "",
        "group": "b77d8ebd.2f5408",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "#AD1625",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "reboot",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "dffcf04f.50b5c8"
            ]
        ]
    },
    {
        "id": "1abd2df.0d6cc52",
        "type": "exec",
        "z": "d2125327.e99c58",
        "command": "sudo",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "2",
        "oldrc": false,
        "name": "cmd",
        "x": 530,
        "y": 80,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "70807095.731d4",
        "type": "ui_button",
        "z": "d2125327.e99c58",
        "name": "",
        "group": "b77d8ebd.2f5408",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "#AD1625",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "shutdown",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "dffcf04f.50b5c8"
            ]
        ]
    },
    {
        "id": "dffcf04f.50b5c8",
        "type": "python3-function",
        "z": "d2125327.e99c58",
        "name": "action",
        "func": "#!/usr/bin/python\nimport smbus\nimport time\nbus = smbus.SMBus(1)\ntime.sleep(1)\n#turn off fan RGB\nbus.write_byte_data(0x0d, 0x07, 0x00)\nbus.write_byte_data(0x0d, 0x07, 0x00)\n\nmsg[\"payload\"] = str(msg[\"topic\"])+' now'\nreturn msg",
        "outputs": 1,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "e772e161.d6bcc",
                "1abd2df.0d6cc52"
            ]
        ]
    },
    {
        "id": "e772e161.d6bcc",
        "type": "exec",
        "z": "d2125327.e99c58",
        "command": "i2cdetect -y 1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "1",
        "oldrc": false,
        "name": "i2c update",
        "x": 550,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d0b27653.b90dd",
        "type": "mqtt in",
        "z": "cc486d7.3ab869",
        "name": "",
        "topic": "receiver/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "29c8b0f8.3c8de8",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "95eb5fb8.edd768"
            ]
        ]
    },
    {
        "id": "95eb5fb8.edd768",
        "type": "switch",
        "z": "cc486d7.3ab869",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "receiver/pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "receiver/focus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "receiver/image",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "receiver/segmentation",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 230,
        "y": 40,
        "wires": [
            [
                "7360949b.3e9334"
            ],
            [
                "a4e54002.33c608"
            ],
            [
                "cb22d251.218eb"
            ],
            [
                "139f0b7f.e7cfcd"
            ]
        ]
    },
    {
        "id": "7360949b.3e9334",
        "type": "switch",
        "z": "cc486d7.3ab869",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Done",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Interrompted",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 40,
        "wires": [
            [
                "20749aec.580666"
            ],
            [
                "e4e4a260.a59ff8"
            ],
            [
                "3abf9e3c.80b08a"
            ]
        ]
    },
    {
        "id": "20749aec.580666",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The pump has started",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The pump has started",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e4e4a260.a59ff8",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The pump has finished.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The pump has finished.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3abf9e3c.80b08a",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The pump has been stopped.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The pump has been stopped.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a4e54002.33c608",
        "type": "switch",
        "z": "cc486d7.3ab869",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Done",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Interrompted",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "dbbfa1a.081f96"
            ],
            [
                "6c8bdb5b.0b0c4c"
            ],
            [
                "902db4fa.44b5a"
            ]
        ]
    },
    {
        "id": "dbbfa1a.081f96",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The focus has started",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The focus has started",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6c8bdb5b.0b0c4c",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The focus has finished.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The focus has finished.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "902db4fa.44b5a",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The focus has been stopped.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The focus has been stopped.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "53c45714.2d7ae",
        "type": "mqtt out",
        "z": "4e9c41dc.b3026",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "5e9d3b13.d1e4cc",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "42926e0b.55728",
        "type": "mqtt out",
        "z": "4e9c41dc.b3026",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "5e9d3b13.d1e4cc",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "7be8cc3a.9b051c",
        "type": "mqtt out",
        "z": "ce01277e.81e1a8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "5e9d3b13.d1e4cc",
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "2cdba528.81e42a",
        "type": "mqtt out",
        "z": "ce01277e.81e1a8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "5e9d3b13.d1e4cc",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb22d251.218eb",
        "type": "switch",
        "z": "cc486d7.3ab869",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Done",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Interrompted",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "jpg",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "7c75a94f.1ccb28"
            ],
            [
                "34d7e94.3dc3896"
            ],
            [
                "47788841.b041f"
            ],
            [
                "163dfe03.2272ca",
                "203720f5.8616c8"
            ]
        ]
    },
    {
        "id": "39d3d73.745df28",
        "type": "switch",
        "z": "cc486d7.3ab869",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Done",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "8815c9d4.b9fd88"
            ],
            [
                "5c7081ef.87291"
            ]
        ]
    },
    {
        "id": "34d7e94.3dc3896",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The acquisition has finished.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The acquisition has finished.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 400,
        "wires": [
            [
                "203720f5.8616c8"
            ]
        ]
    },
    {
        "id": "47788841.b041f",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The acquisition has been stopped.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The acquisition has been stopped.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 440,
        "wires": [
            [
                "203720f5.8616c8"
            ]
        ]
    },
    {
        "id": "7c75a94f.1ccb28",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The acquisition has started",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The acquisition has started",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 360,
        "wires": [
            [
                "203720f5.8616c8"
            ]
        ]
    },
    {
        "id": "163dfe03.2272ca",
        "type": "function",
        "z": "cc486d7.3ab869",
        "name": "img_counter.js",
        "func": "img_counter=global.get('img_counter')\nimg_counter=img_counter+1\nglobal.set('img_counter',img_counter)\nmsg.payload = img_counter\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 480,
        "wires": [
            [
                "aae88fa7.d7b368"
            ]
        ]
    },
    {
        "id": "c191f05d.7b0228",
        "type": "function",
        "z": "cc486d7.3ab869",
        "name": "obj_counter.js",
        "func": "obj_counter=global.get('obj_counter')\nobj_counter=obj_counter+1\nglobal.set('obj_counter',obj_counter)\nmsg.payload = obj_counter\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 640,
        "wires": [
            [
                "20bf8d34.29bd4a"
            ]
        ]
    },
    {
        "id": "aae88fa7.d7b368",
        "type": "ui_chart",
        "z": "cc486d7.3ab869",
        "name": "img_counter",
        "group": "b71d9d5a.c32ef",
        "order": 2,
        "width": 23,
        "height": 2,
        "label": "img_counter",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "139f0b7f.e7cfcd",
        "type": "switch",
        "z": "cc486d7.3ab869",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "receiver/segmentation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "receiver/segmentation/object_id",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "receiver/segmentation/metric",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 470,
        "y": 560,
        "wires": [
            [
                "39d3d73.745df28"
            ],
            [
                "c191f05d.7b0228"
            ],
            [
                "288f4767.a2ccc8"
            ]
        ]
    },
    {
        "id": "5c7081ef.87291",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The segmentation has finished.",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The segmentation has finished.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 600,
        "wires": [
            [
                "203720f5.8616c8"
            ]
        ]
    },
    {
        "id": "8815c9d4.b9fd88",
        "type": "change",
        "z": "cc486d7.3ab869",
        "name": "The segmentation has started",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The segmentation has started",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 560,
        "wires": [
            [
                "203720f5.8616c8"
            ]
        ]
    },
    {
        "id": "20bf8d34.29bd4a",
        "type": "ui_chart",
        "z": "cc486d7.3ab869",
        "name": "obj_counter",
        "group": "b71d9d5a.c32ef",
        "order": 5,
        "width": 23,
        "height": 2,
        "label": "obj_counter",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a6d998ab.897bf",
        "type": "function",
        "z": "cc486d7.3ab869",
        "name": "",
        "func": "msg.payload=msg.payload.object_area\nmsg.topic=\"area\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 700,
        "wires": [
            [
                "31e0caaf.9755b6"
            ]
        ]
    },
    {
        "id": "288f4767.a2ccc8",
        "type": "json",
        "z": "cc486d7.3ab869",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 700,
        "wires": [
            [
                "a6d998ab.897bf"
            ]
        ]
    },
    {
        "id": "598cfb82.3d482c",
        "type": "exec",
        "z": "cc486d7.3ab869",
        "command": "free -m | grep \"Mem\" | awk -F ' ' '{print $3}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Get memory used",
        "x": 750,
        "y": 780,
        "wires": [
            [
                "e5083c6a.e12e58"
            ],
            [],
            []
        ]
    },
    {
        "id": "fcf137cd.5af9f8",
        "type": "inject",
        "z": "cc486d7.3ab869",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "598cfb82.3d482c"
            ]
        ]
    },
    {
        "id": "e5083c6a.e12e58",
        "type": "ui_chart",
        "z": "cc486d7.3ab869",
        "name": "",
        "group": "b71d9d5a.c32ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Memory load",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 950,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "31e0caaf.9755b6",
        "type": "ui_chart",
        "z": "cc486d7.3ab869",
        "name": "",
        "group": "b71d9d5a.c32ef",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "94488126.7da6d8",
        "type": "subflow:48a6a52f.3b7e6c",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 750,
        "y": 60,
        "wires": [
            [
                "730d19e1.29521"
            ]
        ]
    },
    {
        "id": "cdbda884.3f2638",
        "type": "subflow:4e9c41dc.b3026",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 740,
        "y": 260,
        "wires": [
            [
                "730d19e1.29521"
            ]
        ]
    },
    {
        "id": "af39d4d6.791d28",
        "type": "ui_text_input",
        "z": "ce01277e.81e1a8",
        "name": "manual_volume",
        "label": "Volume to pass (ml)",
        "tooltip": "",
        "group": "b4bafde6.5837f8",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "manual_volume",
        "x": 460,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "239b205d.f8965",
        "type": "function",
        "z": "ce01277e.81e1a8",
        "name": "get generic_manual_volume",
        "func": "msg.payload = msg.payload.generic_manual_volume;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "af39d4d6.791d28"
            ]
        ]
    },
    {
        "id": "1314feb9.cb4851",
        "type": "ui_slider",
        "z": "ce01277e.81e1a8",
        "name": "flowrate",
        "label": "Flowrate (ml/min)*",
        "tooltip": "",
        "group": "b4bafde6.5837f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "flowrate",
        "min": 0,
        "max": "20",
        "step": "0.1",
        "x": 480,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a022daf2.a17bc8",
        "type": "function",
        "z": "ce01277e.81e1a8",
        "name": "get generic.flowrate",
        "func": "msg.payload = msg.payload.generic_flowrate;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 40,
        "wires": [
            [
                "1314feb9.cb4851"
            ]
        ]
    },
    {
        "id": "ee70fae2.f6da28",
        "type": "subflow:ce01277e.81e1a8",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 740,
        "y": 300,
        "wires": [
            [
                "730d19e1.29521"
            ]
        ]
    },
    {
        "id": "d8bb8a53.5bc08",
        "type": "subflow:e72403f6.85dd1",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 760,
        "y": 100,
        "wires": [
            [
                "730d19e1.29521"
            ],
            [
                "51ce952c.bd5a74"
            ]
        ]
    },
    {
        "id": "5672f155.9caa18",
        "type": "subflow:33765afe.56048e",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "730d19e1.29521"
            ],
            [
                "51ce952c.bd5a74"
            ]
        ]
    },
    {
        "id": "29e338ea.230e6",
        "type": "subflow:d2125327.e99c58",
        "z": "891731b9.d005c8",
        "name": "System commands",
        "env": [],
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "77793574.29138c",
        "type": "exec",
        "z": "458632e1.0be8bc",
        "command": "vcgencmd measure_temp | tr -d \"temp=\" | tr -d \"'C\" | tr -d \"\\n\"",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "bf609c1.948fee"
            ],
            [],
            []
        ]
    },
    {
        "id": "b97f3a8f.5dde88",
        "type": "inject",
        "z": "458632e1.0be8bc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "77793574.29138c"
            ]
        ]
    },
    {
        "id": "bf609c1.948fee",
        "type": "python3-function",
        "z": "458632e1.0be8bc",
        "name": "fan.py",
        "func": "#!/usr/bin/python\nimport smbus\nimport sys\n\ntemp = msg[\"payload\"]\n\ntemp = int(temp.split('.',1)[0])\n\nbus = smbus.SMBus(1)\n\nDEVICE_ADDRESS = 0x0d\n\nif temp < 38:\n    bus.write_byte_data(DEVICE_ADDRESS, 0x08, 0x00)\n    bus.write_byte_data(DEVICE_ADDRESS, 0x08, 0x00)\nif temp > 42:\n    bus.write_byte_data(DEVICE_ADDRESS, 0x08, 0x01)\n    bus.write_byte_data(DEVICE_ADDRESS, 0x08, 0x01)",
        "outputs": 1,
        "x": 530,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "287ea19f.22540e",
        "type": "subflow:458632e1.0be8bc",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "7d18e7ad.32ab18",
        "type": "ui_text_input",
        "z": "d2db18da.86a25",
        "name": "duration_flush",
        "label": "Duration of the flushing (s)",
        "tooltip": "",
        "group": "fa194fbb.bfb4a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "duration_flush",
        "x": 520,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2578e6c8.f4df32",
        "type": "ui_text_input",
        "z": "d2db18da.86a25",
        "name": "duration_bef_seq",
        "label": "Duration before sequence (s)",
        "tooltip": "",
        "group": "fa194fbb.bfb4a8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "duration_bef_seq",
        "x": 510,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "de091c3.237ed6",
        "type": "ui_text_input",
        "z": "d2db18da.86a25",
        "name": "nb_img",
        "label": "Number of images per acquisition",
        "tooltip": "",
        "group": "fa194fbb.bfb4a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "nb_img",
        "x": 540,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e6e89535.687518",
        "type": "function",
        "z": "d2db18da.86a25",
        "name": "get duration_flush",
        "func": "msg.payload = msg.payload.duration_flush;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "7d18e7ad.32ab18"
            ]
        ]
    },
    {
        "id": "b7b4ded5.7fe5d8",
        "type": "function",
        "z": "d2db18da.86a25",
        "name": "get nb_img",
        "func": "msg.payload = msg.payload.nb_img;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "de091c3.237ed6"
            ]
        ]
    },
    {
        "id": "67fd3196.18ef3",
        "type": "function",
        "z": "d2db18da.86a25",
        "name": "get duration_bef_seq",
        "func": "msg.payload = msg.payload.duration_bef_seq;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 160,
        "wires": [
            [
                "2578e6c8.f4df32"
            ]
        ]
    },
    {
        "id": "1a4a1dab.b5584a",
        "type": "ui_text_input",
        "z": "d2db18da.86a25",
        "name": "duration_bef_img",
        "label": "Duration before image (s)",
        "tooltip": "",
        "group": "fa194fbb.bfb4a8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "duration_bef_img",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f7bb5119.7ef29",
        "type": "function",
        "z": "d2db18da.86a25",
        "name": "get duration_bef_img",
        "func": "msg.payload = msg.payload.duration_bef_img;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "1a4a1dab.b5584a"
            ]
        ]
    },
    {
        "id": "fc80f829.575e6",
        "type": "ui_text_input",
        "z": "d2db18da.86a25",
        "name": "duration_between",
        "label": "Duration between acquisition (s)",
        "tooltip": "",
        "group": "fa194fbb.bfb4a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "duration_between",
        "x": 510,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "53a83404.141834",
        "type": "function",
        "z": "d2db18da.86a25",
        "name": "get duration_between",
        "func": "msg.payload = msg.payload.duration_between;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "fc80f829.575e6"
            ]
        ]
    },
    {
        "id": "7fb16be2.aea174",
        "type": "subflow:cc486d7.3ab869",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "2e076425.9abbf4",
        "type": "subflow:38701a0a.bbe1d6",
        "z": "891731b9.d005c8",
        "name": "process metadata",
        "env": [],
        "x": 750,
        "y": 180,
        "wires": [
            [
                "730d19e1.29521"
            ]
        ]
    },
    {
        "id": "a157c80b.3f9bd8",
        "type": "subflow:d2db18da.86a25",
        "z": "891731b9.d005c8",
        "d": true,
        "name": "Valve actuation",
        "env": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "730d19e1.29521"
            ]
        ],
        "icon": "node-red-dashboard/ui_switch.png"
    },
    {
        "id": "9ed5b08f.5eeea",
        "type": "function",
        "z": "d2db18da.86a25",
        "name": "get duration_bef_cycle",
        "func": "msg.payload = msg.payload.duration_bef_cycle;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 40,
        "wires": [
            [
                "5ffd0ee.d30bf7"
            ]
        ]
    },
    {
        "id": "5ffd0ee.d30bf7",
        "type": "ui_text_input",
        "z": "d2db18da.86a25",
        "name": "duration_bef_cycle",
        "label": "Duration before the cycles (s)",
        "tooltip": "",
        "group": "fa194fbb.bfb4a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "duration_bef_cycle",
        "x": 510,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "203720f5.8616c8",
        "type": "ui_toast",
        "z": "cc486d7.3ab869",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1220,
        "y": 360,
        "wires": []
    },
    {
        "id": "a7b2b522.82428",
        "type": "exec",
        "z": "d033c6ac.ef68a8",
        "command": "sudo date -s",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1010,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "abc6cd.29cdc13",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "func": "d = new Date();\n//get weekday\nvar weekday = new Array(7);\nweekday[0] = \"Sun\";\nweekday[1] = \"Mon\";\nweekday[2] = \"Tue\";\nweekday[3] = \"Wed\";\nweekday[4] = \"Thu\";\nweekday[5] = \"Fri\";\nweekday[6] = \"Sat\";\nvar w = weekday[d.getUTCDay()];\n//get Month\nvar month = new Array(12);\nmonth[0] = \"Jan\";\nmonth[1] = \"Feb\";\nmonth[2] = \"Mar\";\nmonth[3] = \"Apr\";\nmonth[4] = \"May\";\nmonth[5] = \"Jun\";\nmonth[6] = \"Jul\";\nmonth[7] = \"Aug\";\nmonth[8] = \"Sep\";\nmonth[9] = \"Oct\";\nmonth[10] = \"Nov\";\nmonth[11] = \"Dec\";\nvar n = month[d.getUTCMonth()];\n  \n//get day\nvar day = d.getUTCDay()\n\n//get Hours\nvar Hours = d.getUTCHours();\n//get Minutes\nvar Minutes = d.getUTCMinutes();\n//get Seconds\nvar Seconds = d.getUTCSeconds();\n//get FullYear\nvar FullYear = d.getUTCFullYear();\n\n//Thu Aug 09 2012 23:34:04 GMT+0200 (GMT+02:00)\n\n//Thu Aug  9 21:31:26 UTC 2012\n\n//msg.payload = \"Thu Aug  9 21:31:26 UTC 2012\"\n\nmsg.payload = '\"'+w+\" \"+n+\" \"+day+\" \"+Hours+\":\"+Minutes+\":\"+Seconds+\" UTC \"+FullYear+'\"';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 40,
        "wires": [
            [
                "b65352b1.36be8"
            ]
        ]
    },
    {
        "id": "ca7c1f22.3bd458",
        "type": "subflow:d033c6ac.ef68a8",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 280,
        "y": 180,
        "wires": []
    },
    {
        "id": "b65352b1.36be8",
        "type": "ui_template",
        "z": "d033c6ac.ef68a8",
        "group": "8e0cce01.f923b8",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 640,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3adc77e8.9461e",
        "type": "function",
        "z": "33765afe.56048e",
        "name": "set object_time",
        "func": "var time = new Date(msg.payload);\n\nvar hour = time.getUTCHours();\nif (hour<10){hour = \"0\"+hour;}\nvar minute = time.getUTCMinutes();\nif (minute<10){minute = \"0\"+minute;}\n\nvar time_UTC = \"\"+hour+minute;\nglobal.set('object_time',time_UTC);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 804,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9f21f5f9.5306b8",
        "type": "function",
        "z": "33765afe.56048e",
        "name": "set object_date",
        "func": "var date = new Date(msg.payload);\n\nvar year = date.getUTCFullYear();\nvar month = date.getUTCMonth()+1;\nif (month<10){month = \"0\"+month;}\nvar day = date.getUTCDate();\nif (day<10){day = \"0\"+day;}\n\nvar date_UTC = \"\"+year+month+day;\nglobal.set('object_date',date_UTC);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 804,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7082ee2f.0c87",
        "type": "ui_numeric",
        "z": "d033c6ac.ef68a8",
        "name": "year",
        "label": "Year",
        "tooltip": "",
        "group": "8e0cce01.f923b8",
        "order": 2,
        "width": 5,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "year",
        "format": "{{value}}",
        "min": "2020",
        "max": "2030",
        "step": 1,
        "x": 630,
        "y": 80,
        "wires": [
            [
                "f376f461.b7df2"
            ]
        ]
    },
    {
        "id": "d41d625c.f2509",
        "type": "ui_numeric",
        "z": "d033c6ac.ef68a8",
        "name": "month",
        "label": "Month",
        "tooltip": "",
        "group": "8e0cce01.f923b8",
        "order": 3,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "month",
        "format": "{{value}}",
        "min": "1",
        "max": "12",
        "step": 1,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "f376f461.b7df2"
            ]
        ]
    },
    {
        "id": "6a075e64.986518",
        "type": "ui_numeric",
        "z": "d033c6ac.ef68a8",
        "name": "day",
        "label": "Day",
        "tooltip": "",
        "group": "8e0cce01.f923b8",
        "order": 4,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "day",
        "format": "{{value}}",
        "min": "1",
        "max": "31",
        "step": 1,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "f376f461.b7df2"
            ]
        ]
    },
    {
        "id": "c9b722b2.29f68",
        "type": "ui_numeric",
        "z": "d033c6ac.ef68a8",
        "name": "hour",
        "label": "Hour",
        "tooltip": "",
        "group": "8e0cce01.f923b8",
        "order": 5,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "hour",
        "format": "{{value}}",
        "min": "0",
        "max": "23",
        "step": 1,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "f376f461.b7df2"
            ]
        ]
    },
    {
        "id": "cfc80dc1.03106",
        "type": "ui_numeric",
        "z": "d033c6ac.ef68a8",
        "name": "minute",
        "label": "Minute",
        "tooltip": "",
        "group": "8e0cce01.f923b8",
        "order": 6,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "minute",
        "format": "{{value}}",
        "min": "0",
        "max": "59",
        "step": 1,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "f376f461.b7df2"
            ]
        ]
    },
    {
        "id": "4f36339a.20b004",
        "type": "ui_numeric",
        "z": "d033c6ac.ef68a8",
        "name": "second",
        "label": "Second",
        "tooltip": "",
        "group": "8e0cce01.f923b8",
        "order": 7,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "second",
        "format": "{{value}}",
        "min": "0",
        "max": "59",
        "step": 1,
        "x": 640,
        "y": 280,
        "wires": [
            [
                "f376f461.b7df2"
            ]
        ]
    },
    {
        "id": "211760a6.75ebb8",
        "type": "interval",
        "z": "d033c6ac.ef68a8",
        "name": "interval",
        "interval": "1",
        "onstart": false,
        "msg": "ping",
        "showstatus": true,
        "unit": "seconds",
        "statusformat": "YYYY-MM-D HH:mm:ss",
        "x": 310,
        "y": 40,
        "wires": [
            [
                "abc6cd.29cdc13"
            ]
        ]
    },
    {
        "id": "c7436249.2a932",
        "type": "ui_button",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "group": "8e0cce01.f923b8",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "black",
        "bgcolor": "white",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "db8db70d.dd4988"
            ]
        ]
    },
    {
        "id": "db8db70d.dd4988",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "update datetime",
        "func": "var FullYear= global.get(\"year\");\nvar Month= global.get(\"month\");\nvar day= global.get(\"day\");\nvar Hours= global.get(\"hour\");\nvar Minutes= global.get(\"minute\");\nvar Seconds= global.get(\"second\");\n\nmsg.payload = new Date();\n//get Month\nvar month = new Array(12);\nmonth[1] = \"Jan\";\nmonth[2] = \"Feb\";\nmonth[3] = \"Mar\";\nmonth[4] = \"Apr\";\nmonth[5] = \"May\";\nmonth[6] = \"Jun\";\nmonth[7] = \"Jul\";\nmonth[8] = \"Aug\";\nmonth[9] = \"Sep\";\nmonth[10] = \"Oct\";\nmonth[11] = \"Nov\";\nmonth[12] = \"Dec\";\nvar n = month[Month];\n  \nmsg.payload = '\"'+day+\" \"+n+\" \"+FullYear+\" \"+Hours+\":\"+Minutes+\":\"+Seconds+'\"';\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "970bb99b.a2bd88",
                "a7b2b522.82428"
            ]
        ]
    },
    {
        "id": "f376f461.b7df2",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "set global",
        "func": "var value = msg.payload;\nvar key = msg.topic;\n\nglobal.set(key,value);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "970bb99b.a2bd88",
        "type": "debug",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1010,
        "y": 300,
        "wires": []
    },
    {
        "id": "f400fe17.6c0cf8",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "func": "d = msg.payload;\n\nvar val = d.getUTCFullYear();\n\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "7082ee2f.0c87"
            ]
        ]
    },
    {
        "id": "8bdd251c.f16d",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "func": "d = new Date();\nmsg.payload = d\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "f400fe17.6c0cf8",
                "90af42a7.0bbbb",
                "78538b53.96982c",
                "96880271.4bd3a8",
                "eb23b202.379558",
                "c2d17b3.4987b08"
            ]
        ]
    },
    {
        "id": "90af42a7.0bbbb",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "func": "d = msg.payload;\n\nvar val = d.getUTCMonth();\n\nmsg.payload = val+1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "d41d625c.f2509"
            ]
        ]
    },
    {
        "id": "78538b53.96982c",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "func": "d = msg.payload;\n\nvar val = d.getUTCDay();\n\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 160,
        "wires": [
            [
                "6a075e64.986518"
            ]
        ]
    },
    {
        "id": "96880271.4bd3a8",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "func": "d = msg.payload;\n\nvar val = d.getUTCHours();\n\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "c9b722b2.29f68"
            ]
        ]
    },
    {
        "id": "eb23b202.379558",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "func": "d = msg.payload;\n\nvar val = d.getUTCMinutes();\n\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "cfc80dc1.03106"
            ]
        ]
    },
    {
        "id": "c2d17b3.4987b08",
        "type": "function",
        "z": "d033c6ac.ef68a8",
        "name": "",
        "func": "d = msg.payload;\n\nvar val = d.getUTCSeconds();\n\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "4f36339a.20b004"
            ]
        ]
    },
    {
        "id": "222e0e47.626732",
        "type": "exec",
        "z": "8653cbcd.379d48",
        "command": "python3.7  /home/pi/PlanktonScope/script/main.py",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [],
            [
                "798947ea.a6d748"
            ],
            []
        ]
    },
    {
        "id": "62d514.cf6ca2ec",
        "type": "exec",
        "z": "8653cbcd.379d48",
        "command": "ps -ax | grep \"python3.7 /home/pi/PlanktonScope/script/main.py\"| head -1 | awk -F \" \" '{print$1}' ",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "be665005.7964d8"
            ],
            [],
            []
        ]
    },
    {
        "id": "be665005.7964d8",
        "type": "exec",
        "z": "8653cbcd.379d48",
        "command": "kill",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 1210,
        "y": 120,
        "wires": [
            [
                "e4e5c1e8.77bb3"
            ],
            [
                "e4e5c1e8.77bb3"
            ],
            [
                "e4e5c1e8.77bb3"
            ]
        ]
    },
    {
        "id": "36565f9b.4cb78",
        "type": "ui_button",
        "z": "8653cbcd.379d48",
        "name": "",
        "group": "8e0cce01.f923b8",
        "order": 9,
        "width": 12,
        "height": 1,
        "passthru": false,
        "label": "Kill MQTT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "62d514.cf6ca2ec"
            ]
        ]
    },
    {
        "id": "7d5c0f24.f44ef8",
        "type": "ui_button",
        "z": "8653cbcd.379d48",
        "name": "",
        "group": "8e0cce01.f923b8",
        "order": 10,
        "width": 12,
        "height": 1,
        "passthru": false,
        "label": "Restart MQTT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "222e0e47.626732"
            ]
        ]
    },
    {
        "id": "798947ea.a6d748",
        "type": "ui_toast",
        "z": "8653cbcd.379d48",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "68b9cd32.85f7c4",
        "type": "subflow:8653cbcd.379d48",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 270,
        "y": 220,
        "wires": []
    },
    {
        "id": "e76e6661.0cb738",
        "type": "debug",
        "z": "33765afe.56048e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 280,
        "y": 360,
        "wires": []
    },
    {
        "id": "e4e5c1e8.77bb3",
        "type": "debug",
        "z": "8653cbcd.379d48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "b998fcf.af76a",
        "type": "ui_button",
        "z": "942abae7.d48b98",
        "name": "",
        "group": "a002b4bf.97a878",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "actuator/image",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "3ba7a585.c15932"
            ]
        ]
    },
    {
        "id": "3ba7a585.c15932",
        "type": "function",
        "z": "942abae7.d48b98",
        "name": "image.js",
        "func": "state = global.get(\"state\");\nglobal.set('img_counter',0)\nglobal.set('obj_counter',0)\nif (state == null){state=\"free\"}\n\nvar duration_bef_cycle= global.get(\"duration_bef_cycle\");\nvar duration_flush= global.get(\"duration_flush\");\nvar nb_img= global.get(\"nb_img\");\nvar duration_bef_seq= global.get(\"duration_bef_seq\");\nvar duration_bef_img= global.get(\"duration_bef_img\");\nvar duration_between= global.get(\"duration_between\");\n\nif (duration_bef_cycle === undefined || duration_bef_cycle === \"\" || duration_bef_cycle === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Duration before the cycles\";\n    \n}else if (duration_flush === undefined || duration_flush === \"\" || duration_flush === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Duration of the flushing\";\n    \n}else if (nb_img === undefined || nb_img === \"\" || nb_img === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Directory to store the images\";\n    \n}else if (duration_bef_seq === undefined || duration_bef_seq === \"\" || duration_bef_seq === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Duration before the sequence\";\n    \n}else if (duration_bef_img === undefined || duration_bef_img === \"\" || duration_bef_img === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Duration before an image\";\n    \n}else if (duration_between === undefined || duration_between === \"\" || duration_between === null) {\n    msg.topic = \"Missing entry :\"\n    msg.payload = \"Duration between sequence\";\n    \n}else {\n    nb_img=nb_img-1\n    msg.payload=duration_bef_cycle+' '+duration_flush+' '+nb_img+' '+duration_bef_seq+' '+duration_bef_img+' '+duration_between;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "d855e5fb.366978"
            ]
        ],
        "info": "### Focusing\n##### focus.py `nb_step` `orientation`\n\n- `nb_step` : **integer** (from 1 to 100000) - number of step to perform by the stage (about 31um/step)\n- `orientation` : **string** - orientation of the focus either `up` or `down`\n\nExample:\n\n    python3.7 $HOME/PlanktonScope/scripts/focus.py 650 up\n"
    },
    {
        "id": "d855e5fb.366978",
        "type": "switch",
        "z": "942abae7.d48b98",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "actuator/image",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Missing entry :",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "d0b2874.e2224f8"
            ],
            [
                "d942130f.afcbf"
            ]
        ]
    },
    {
        "id": "d942130f.afcbf",
        "type": "ui_toast",
        "z": "942abae7.d48b98",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 690,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d0b2874.e2224f8",
        "type": "mqtt out",
        "z": "942abae7.d48b98",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "5e9d3b13.d1e4cc",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "895a70fd.d282f8",
        "type": "ui_button",
        "z": "942abae7.d48b98",
        "name": "Stop Acquisition",
        "group": "a002b4bf.97a878",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "STOP ACQUISITION",
        "tooltip": "",
        "color": "",
        "bgcolor": "#AD1625",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "actuator/wait",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "30a60e62.833e1a"
            ]
        ]
    },
    {
        "id": "30a60e62.833e1a",
        "type": "mqtt out",
        "z": "942abae7.d48b98",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "5e9d3b13.d1e4cc",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "327c0b2e.fc2b0c",
        "type": "ui_switch",
        "z": "942abae7.d48b98",
        "name": "Segmentation",
        "label": "Segmentation",
        "tooltip": "",
        "group": "a002b4bf.97a878",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "actuator/segmentation_state",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "3130bcee.414ed4"
            ]
        ]
    },
    {
        "id": "3130bcee.414ed4",
        "type": "mqtt out",
        "z": "942abae7.d48b98",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "5e9d3b13.d1e4cc",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "c520612d.92bcf8",
        "type": "subflow:942abae7.d48b98",
        "z": "891731b9.d005c8",
        "name": "",
        "env": [],
        "x": 750,
        "y": 420,
        "wires": []
    }
]
